html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background-image: url("../image/background.png");
    background-size: contain;
    background-position: center;
}
